{% extends "base.html" %}

{% block content %}

<br>
<br>
<form>
    <table>
        <tr>
            <td>
                <label for="username">Enter Username</label>
            </td>
            <td>
                <input type="text" name="username"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Enter Password</label>
            </td>
            <td>
                <input type="password" name="password"/>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <label for="text_body">Enter your text</label>                
            </th>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="text_body" rows="5" cols="30">

                </textarea>                        
            </td>            
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add Entry"/>
            </td>
        </tr>
    </table>

</form>
{% endblock %}
